.DS_Store
/dist

node_modules/*
!node_modules/axios/
!node_modules/core-js/
!node_modules/vue/
!node_modules/vue-router/

!node_modules/@vue/
node_modules/@vue/*
!node_modules/@vue/compiler-sfc/

!node_modules/babel-eslint/
!node_modules/eslint/
!node_modules/eslint-plugin-vue/
!node_modules/node-sass/
!node_modules/sass-loader/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
