.DS_Store
/dist
node_modules
.github\workflows
backend-out

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
package-lock.json
package.json
create_databse/tempCodeRunnerFile.py
create_databse_new/data/

data-storage/
apache-sites/
arktur-backend/.env
arktur-frontend/src/services/RequestService.js
arktur-storage/
backend/api/session/data/*
